#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logoContainer{
  background-color:#222028;
  background-image: radial-gradient(rgb(0, 0, 0),rgbx(37, 37, 45));
  border: 1px none;
  border-radius: 10px;
  border-width: 10px;
  border-color: rgb(170, 170, 170);
  height: 4em;
}
.logoContainer:hover{
  box-shadow:0 0 40px #b464ffaa;
  border-color: rgb(230, 222, 222);

  transition: box-shadow 300ms;
  
}

.logo {
  height: 4em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
